---
import Layout from '@layouts/Layout.astro';
import NavCantina from '@components/NavCantina.astro';
import HeroDisruptivo from '@components/HeroDisruptivo.astro';
import Marquee from '@components/Marquee.astro';
import Manifiesto from '@components/Manifiesto.astro';

import BentoCarta from '@components/BentoCarta.astro';
import CartaCompleta from '@components/CartaCompleta.astro';
import BebidasStrip from '@components/BebidasStrip.astro';
import ExperienciaCola from '@components/ExperienciaCola.astro';
import ResenasFlotantes from '@components/ResenasFlotantes.astro';
import NoReservas from '@components/NoReservas.astro';
import MapaOSM from '@components/MapaOSM.astro';
import FooterCantina from '@components/FooterCantina.astro';
---

<Layout>
  <NavCantina />
  <main>
    <HeroDisruptivo />
    <Marquee />
    <Manifiesto />
    <BentoCarta />
    <CartaCompleta />
    <BebidasStrip />
    <ExperienciaCola />
    <ResenasFlotantes />
    <NoReservas />
    <MapaOSM />
  </main>
  <FooterCantina />
</Layout>
